{% extends 'base.html' %}
{%block content %}
<style>
    body{
        margin: 0;
        padding: 0;
        height: 100vh;
    }
</style>

<p>홈화면</p>

<div class="area">
    <div class="group">
        <!-- 노트 그룹 -->
        <div class="note">
            <!-- 노트 -->
        </div>
    </div>

    <div class="user">
        <!-- 유저 정보 -->
        <div class="info">
            <!-- 프로필, 아이디, 이메일 -->
        </div>
        <div class="list">
            <!-- 친구 목록 -->
        </div>
    </div>
</div>

{% endblock %}
