{% extends 'base.html' %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    .area {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200vh;
        height: 65vh;
        position: fixed;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 3%;
    }
    .img {
        display: flex;
        position: relative;
        width: 65vh;
        height: 65vh;
        border-radius: 20px;
        border: solid 5px black;
        background-image: url("/static/image/picrew/etc/background.png");
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: 40% 0;
    }
    .base-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .overlay-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
    }
    .option {
        display: flex;
        background-color: white;
        border: solid 5px black;
        width: 65vh;
        height: 65vh;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .color {
        display: flex;
        flex-direction: column;
        margin-left: -5px;
    }
    .color1, .color2, .color3, .color4, .color5, .color6, .color7 {
        display: block;
        width: 8vh;
        height: 8vh;
        border: solid 5px black;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .save {
        display: block;
        color: black;
        border: solid 4px black;
        border-radius: 15px;
        font-size: 50px;
        font-family: 'Pretendard-Regular';
        background-color: white;
        margin-top: 41%;
        margin-left: 85%;
        width: 190px;
    }
    .savetext {
        text-decoration: none;
    }
    .carousel-container {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .carousel {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
    }
    .carousel-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }
    .carousel-page img {
        width: 20vh;
        height: 20vh;
        margin: 5px;
        border: solid 2px black;
        border-radius: 10px;
        cursor: pointer;
    }
    .navigation {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    .nav-button {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: gray;
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
    }
</style>

<div class="area">
    <div class="img">
        <img id="base-img" class="base-img" src="/static/image/picrew/etc/body.png" alt="Base Image">
        <div id="overlay-container" class="overlay-container"></div>
    </div>
    <div class="option">
        <div class="carousel-container">
            <div class="carousel" id="carousel">
                <div class="carousel-page">
                    <img src="/static/image/picrew/hair/amu.png" alt="Amu Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/heart.png" alt="Heart Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/black.png" alt="Black Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/clober.png" alt="Clober Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/dia.png" alt="Dia Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/spade.png" alt="Spade Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/x.png" alt="X Hair" onclick="updateMainImage(this)">
                </div>
            </div>
        </div>
    </div>

    <div class="color">
        <div class="color1" onclick="updateCarouselContent('hair')"><h4>hair</h4></div>
        <div class="color2" onclick="updateCarouselContent('haircolor')"><h4>haircolor</h4></div>
        <div class="color3" onclick="updateCarouselContent('hairpiece')"><h4>hairpiece</h4></div>
        <div class="color4" onclick="updateCarouselContent('clothes')"><h4>clothes</h4></div>
        <div class="color5" onclick="updateCarouselContent('eyes')"><h4>eyes</h4></div>
        <div class="color6" onclick="updateCarouselContent('eyecolor')"><h4>eyecolor</h4></div>
        <div class="color7" onclick="updateCarouselContent('etc')"><h4>etc</h4></div>
    </div>
</div>

<a class="savetext" href="/unlockk/">
    <button class="save">
        save
    </button>
</a>

<script>
    let currentSlide = 0;
    const carousel = document.getElementById('carousel');
    const totalSlides = document.querySelectorAll('.carousel-page').length;
    const selectedImages = [];

    function updateCarousel() {
        const offset = -currentSlide * 100;
        carousel.style.transform = `translateX(${offset}%)`;
    }

    function prevSlide() {
        if (currentSlide > 0) {
            currentSlide--;
            updateCarousel();
        }
    }

    function nextSlide() {
        if (currentSlide < totalSlides - 1) {
            currentSlide++;
            updateCarousel();
        }
    }

    function updateMainImage(imageElement) {
        const src = imageElement.src;
        if (!selectedImages.includes(src)) {
            selectedImages.push(src);
            renderOverlayImages();
        } else {
            const index = selectedImages.indexOf(src);
            if (index > -1) {
                selectedImages.splice(index, 1);
                renderOverlayImages();
            }
        }
    }

    function renderOverlayImages() {
        const overlayContainer = document.getElementById('overlay-container');
        overlayContainer.innerHTML = '';
        selectedImages.forEach(src => {
            const img = document.createElement('img');
            img.src = src;
            img.className = 'overlay-img';
            overlayContainer.appendChild(img);
        });
    }

    function updateCarouselContent(type) {
        const carousel = document.getElementById('carousel');
        let content = '';

        if (type === 'hair') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/hair/amu.png" alt="Amu Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/heart.png" alt="Heart Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/black.png" alt="Black Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/clober.png" alt="Clober Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/dia.png" alt="Dia Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/spade.png" alt="Spade Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hair/x.png" alt="X Hair" onclick="updateMainImage(this)">
                </div>
            `;
        } else if (type === 'haircolor') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/haircolor/blonde.png" alt="Blonde Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/haircolor/brown.png" alt="Brown Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/haircolor/black.png" alt="Black Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/haircolor/red.png" alt="Red Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/haircolor/blue.png" alt="Blue Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/haircolor/green.png" alt="Green Hair" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/haircolor/purple.png" alt="Purple Hair" onclick="updateMainImage(this)">
                </div>
            `;
        } else if (type === 'hairpiece') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/hairpiece/bow.png" alt="Bow" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hairpiece/flower.png" alt="Flower" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hairpiece/hat.png" alt="Hat" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hairpiece/ribbon.png" alt="Ribbon" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/hairpiece/crown.png" alt="Crown" onclick="updateMainImage(this)">
                </div>
            `;
        } else if (type === 'clothes') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/clothes/shirt.png" alt="Shirt" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/clothes/dress.png" alt="Dress" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/clothes/jacket.png" alt="Jacket" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/clothes/sweater.png" alt="Sweater" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/clothes/coat.png" alt="Coat" onclick="updateMainImage(this)">
                </div>
            `;
        } else if (type === 'eyes') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/eyes/blue.png" alt="Blue Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyes/green.png" alt="Green Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyes/brown.png" alt="Brown Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyes/hazel.png" alt="Hazel Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyes/gray.png" alt="Gray Eyes" onclick="updateMainImage(this)">
                </div>
            `;
        } else if (type === 'eyecolor') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/eyecolor/lightblue.png" alt="Light Blue Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyecolor/lightgreen.png" alt="Light Green Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyecolor/lightbrown.png" alt="Light Brown Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyecolor/lighthazel.png" alt="Light Hazel Eyes" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/eyecolor/lightgray.png" alt="Light Gray Eyes" onclick="updateMainImage(this)">
                </div>
            `;
        } else if (type === 'etc') {
            content = `
                <div class="carousel-page">
                    <img src="/static/image/picrew/etc/glasses.png" alt="Glasses" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/etc/earrings.png" alt="Earrings" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/etc/necklace.png" alt="Necklace" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/etc/scarf.png" alt="Scarf" onclick="updateMainImage(this)">
                    <img src="/static/image/picrew/etc/tie.png" alt="Tie" onclick="updateMainImage(this)">
                </div>
            `;
        }

        carousel.innerHTML = content;
        currentSlide = 0;
        updateCarousel();
    }
</script>

{% endblock %}
