{% extends 'base.html' %}
{%block content %}

<style>
    body{
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    .start_area {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--start-color);
        flex-direction: column;
        width: 130vh; /* 원하는 가로 크기 */
        height: 73vh; /* 원하는 세로 크기 */
        position: fixed;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        /* opacity: 50%; */
    }
    .start{
        text-decoration: none;
        color: black;
        display: block;
        background-color: white;
        border: none;
        width: 700px;
        height: 90px;
        border-radius: 30px;
        font-size: 70px;
        margin-bottom: 1.5%;
        font-family: 'Pretendard-Regular';
        text-align: center;
        padding-top: 5px;
    }
    .sign{
        display: block;
        font-family: 'Pretendard-Regular';
        color:white;
        font-size: 25px;
        text-decoration: none;
    }
    .startlog{
        display: block;
        width: 400px;
        margin-top: 3%;
        margin-left: 4%;
    }
    .call{
        display: block;
        width: 700px;
        margin-top: 1.5%;
        margin-bottom: 2%;
        margin-left: 1.5%;
    }
    .back{
        display: flex;
        flex-direction: row;
    }
    .blue{
        display: block;
        width: 500px;
        height: 500px;
    }
    .green{
        display: block;
        width: 500px;
        height: 500px;
    }
    .red{
        display: block;
        width: 500px;
        height: 500px;
    }
</style>

<div class="back">
    <img class="blue" src="/static/image/blue.png">
    <img class="green" src="/static/image/green.png">
    <img class="red" src="/static/image/red.png">
</div>

<div class="start_area">
    <img class="startlog" src="/static/image/startlog.png">
    <img class="call" src="/static/image/call.png">
    
    <a class="start" href="{% url 'common:login' %}">START</button>
    <a class="sign" href="{% url 'common:signup' %}">If you don't have an account, please sign up</p>
</div>
{% endblock %}

